body{
}
nav {
  display: inline-block;
  background-color: #383550;
  width: 100%;
   

}


.uli {
  display: inline-flex;
  list-style: none;
  float: right;
}

.uli li {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: black;
}

.princli:hover {
  background-color: rgba(120, 0, 0, 0.5);
}

.logo {
  display: none;
  width: 50px;
  height: 50px;
  background: url("menu.png");
  background-size: cover;
  margin: 0px auto;
}

.item {
  padding: 10px;
}

.items {
  display: none;
}

@media (max-width: 720px) {
  .princli {
    display: none;
  }

  .logo {
    display: block;
  }

  .uli {
    display: inline;
  }

  .uli li {
    padding: 10px;
  }

  .uli:hover .items {
    display: inherit;
  }
  .uli:hover .items:hover {
    background-color: rgba(120, 0, 0, 0.5);
  }

  .logo:hover {
    background: url("menuopen.png");
    background-size: cover;
  }
}
